.headerMenu{
    background-image: linear-gradient(
        rgba(0,0,0,0.7),
        rgba(0,0,0,0.7),
    ),url(../assets/img/fondos/fondoMenu.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}
.seccionMenu{
    width: 320px;
    font-family: $fontSecundaria;
        span{
            margin: 20px 0;
            font-size: 25px;
            padding-left: 5px;
        }
        h1{
            text-transform: uppercase;
            font-weight: 800;
            font-size: 30px;
            margin-bottom: 40px;
            padding-left: 5px;
            width: 100%;
        }
}
section.tarjetasMenu{

    display: flex;
    flex-direction: column;
    width: 310px;
    margin: 0 5px;
    font-family: $fontTarjetas;
    font-style: normal;
        .menu1{
            background-color: $bgPrincipal;
            padding: 5px;
            
                h2{
                    padding: 5px;
                    margin-bottom: 30px;
                }
                div h3{
                    font-size: 20px;
                    text-transform: uppercase;
                    padding: 7px 5px;
                }
                div span{
                    padding: 7px 5px;
                    font-size: 18px;
                }
                div p{
                    padding: 7px 5px;
                    font-size: 18px;
                }
                div.separador{
                    width: 90%;
                    margin: 20px 5%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    img{
                        width: 35px;
                        background: transparent;
                    }
                }
        }
        .menu2{
           @extend .menu1; 
            background-image: linear-gradient(rgba(0,0,0,0.7),
                                            rgba(0,0,0,0.7),
            ), url(../assets/img/fondos/burrata-fondo.jpg);
            background-repeat: no-repeat;
            background-position:center;
            background-size: cover;
            color: white;
            text-shadow: 1 1 3px white;
            margin-bottom: 20px;
            
        } 
        .menu3{
            @extend .menu2;
            margin-top: 15px;
            background-image: linear-gradient(rgba(0,0,0,0.7),
            rgba(0,0,0,0.7)), url(../assets/img/fondos/tataki.jpeg);
            margin-bottom: 0;
        }
        .menu4{
            @extend .menu1;
            div.sinGluten{
                text-align: center;
                padding: 30px 0;
            }
        } 
        .menuNiño{
            @extend .menu1;
            padding-bottom: 20px;
            h3{
                text-transform: uppercase;
                padding-left: 5px;
            }
        }
        .postres{
            @extend .menu4;
            margin: 25px 0;
        }      
}

