.nuestrosProductos{
    width: 320px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
    img{
        padding-bottom: 20px;
        width: 100%;
        height: 100vh;
        object-fit: cover;
    }
    h2{
        text-transform: uppercase;
        font-size: 25px;
        padding: 25px 0;
        font-family: "Baskervville SC", serif;
        font-weight: 600;
        color: white;
    }
    p{
        width: 90%;
        font-size: 18px;
        padding: 25px 0;
        font-family: "Baskervville SC", serif;
        color: white;
    }
    button.btn-home{
        padding: 7px;
        background-color: transparent;
        color: white;
        border: 1px solid white;
        width: 80%;
        margin: 10px 10%;
        transition: all 1s;
        &:hover{
            background-color: white;
            color: black;
        }
    }

}
