@media (min-width: 321px) and (max-width: 768px) {
  /* --------------------------- SECCION INDEX -------------------*/
  header {
    width: 100%;
    padding-top: 15px;
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 5%;
    }
    img.logo-nav {
      width: 150px;
      padding-bottom: 10px;
    }
    div.link-contenedor {
      display: flex;
      flex-direction: row;
      width: max-content;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
    }
    a {
      text-align: center;
      padding: 15px;
    }
  }
  article.home {
    width: 100%;
    .img-home {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
    .home-parrafo {
      font-size: 22px;
      width: 80%;
      margin: 0 10%;
    }
  }
  section.seccionVideo {
    width: 100%;
    h1 {
      text-align: center;
    }
    video {
      width: 90%;
      margin: 20px 5%;
    }
  }
  section.nuestrosProductos {
    width: 100%;
    img {
      height: auto;
    }
    button.btn-home {
      width: 60%;
      margin: 10px 20%;
    }
  }
  section.restaurante {
    width: 100%;
    div.p-restaurante {
      width: 80%;
      p {
        font-size: 25px;
      }
      img {
        width: 5%;
      }
    }
    div.img-restaurante {
      width: 100%;
    }
  }
  section.envios {
    width: 100%;
    p {
      width: 80%;
      margin: 0 10%;
      font-size: 25px;
    }
    button {
      padding: 15px;
      width: 50%;
      margin: 20px 25%;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
  section.opinion {
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
    section.opiniones {
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      div.card-opinion {
        width: 60%;
      }
      div.userName {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .nameDate {
          gap: 20%;
        }
      }
    }
  }
  div.footer {
    width: 100%;
    span.copy {
      width: 80%;
      margin: 0px 10%;
      font-size: 18px;
    }
    span.derechos {
      width: 80%;
      margin: 0 10%;
      font-size: 18px;
    }
  }

  /*-------------------- SECCION PIZZAS -----------------*/
  .headerPizzas {
    .titleHeaderPizzas {
      button {
        width: 50%;
        margin: 20px 25%;
      }
    }
  }
  section.variedadPizzas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pizzasRosas {
      width: 100%;
      .titlePizzaRosa {
        width: 100%;
      }
      .cardPizza {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 15px 10%;
        height: 100%;
        img {
          width: 100%;
          margin: 5px 0;
          object-fit: cover;
          height: 10%;
        }
        h3 {
          padding: 7px;
          font-size: 22px;
        }
        span {
          padding: 7px;
          font-size: 20px;
        }
        p {
          padding: 7px;
          font-size: 18px;
        }
      }
    }
  }
  /*---------------------------SECCION MENU TABLET -------------*/
  section.seccionMenu {
    width: 90%;
    text-align: center;
    margin: 20px 5%;
  }
  section.tarjetasMenu {
    width: 90%;
    margin: 0 5%;
    .menu1 {
      background-color: $bgPrincipal;
      padding: 5px;
      width: 100%;

      h2 {
        padding: 5px;
        margin-bottom: 30px;
      }
      div h3 {
        font-size: 20px;
        text-transform: uppercase;
        padding: 7px 5px;
      }
      div span {
        padding: 7px 5px;
        font-size: 18px;
      }
      div p {
        padding: 7px 5px;
        font-size: 18px;
      }
      div.separador {
        width: 90%;
        margin: 20px 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 35px;
          background: transparent;
        }
      }
    }
  }
  /*----------------------------------- SECCION VINOS -------------------------*/
  .headerVinos {
    width: 100%;
    background-size: cover;
  }
  section.seccionVinos {
    width: 100%;
    .titleVinos {
      span {
        width: 50%;
      }
    }
    .seccionBebidaCaliente{
      div.titleCard{
        width: 87%;
    }
    }
  }
  /*------------------------------SECCION CONTACTOS --------------------*/
  section.horariosyForm{
    width: 100%;
    .horarios{
      width: 90%;
      margin: 20px 5%;
      .copaHorarios{
        height: auto;
        transform: scale(0.8);
      }
    }
  }
  .contacto{
    width: 90%;
    margin: 20px 5%;
  }
}
