@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.body {
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

a {
  text-decoration: none;
}

header {
  width: 320px;
  background-color: black;
  padding-top: 50px;
}
header nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
header img.logo-nav {
  transform: scale(0.8);
  padding-bottom: 15px;
}
header div.link-contenedor {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px 0;
}
header a {
  color: white;
  padding: 15px 0;
  transition: all 1s;
  font-family: "Baskervville SC", serif;
}
header a:hover {
  background-color: white;
  color: black;
  border-radius: 5px;
}
header div.link-btn {
  display: flex;
}
header .btn-uber {
  margin: 0 5px;
}

div.footer {
  width: 320px;
  background-color: black;
  height: 70px;
  color: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  padding: 15px 0;
  justify-content: center;
  align-items: center;
}
div.footer span.copy {
  width: 90%;
  margin: 0px 5%;
  font-size: 16px;
}
div.footer span.derechos {
  width: 90%;
  margin: 0 5%;
  font-size: 16px;
}

article.home {
  width: 320px;
  display: flex;
  flex-direction: column;
  background-color: black;
  padding: 100px 0;
}
article.home .img-home {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
}
article.home .home-parrafo {
  padding-top: 50px;
  padding-left: 7px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
article.home .home-parrafo span {
  color: white;
  font-size: 18px;
}
article.home .home-parrafo h2 {
  color: white;
  font-size: 30px;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
}
article.home .home-parrafo p {
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
article.home .home-parrafo button.btn-home {
  font-family: "Baskervville SC", serif;
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80%;
  margin: 10px 10%;
  transition: all 1s;
}
article.home .home-parrafo button.btn-home:hover {
  background-color: white;
  color: black;
}

section.restaurante {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.restaurante div.p-restaurante {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.restaurante div.p-restaurante h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  padding: 80px 0;
  text-align: center;
  font-size: 30px;
}
section.restaurante div.p-restaurante p {
  text-align: center;
  font-size: 20px;
  padding-bottom: 20px;
}
section.restaurante div.p-restaurante img {
  width: 10%;
  padding-bottom: 20px;
}
section.restaurante div.img-restaurante {
  width: 320px;
}
section.restaurante div.img-restaurante img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 547px;
}

section.envios, section.enviosContacto {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 30px;
}
section.envios h3, section.enviosContacto h3 {
  text-align: center;
  padding-top: 40px;
  font-size: 25px;
  font-weight: 500;
  color: white;
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  width: 80%;
  margin: 0 10%;
}
section.envios h2, section.enviosContacto h2 {
  font-size: 30px;
  font-weight: 600;
  padding: 20px 0;
  color: white;
  font-family: "Bebas Neue", sans-serif;
}
section.envios p, section.enviosContacto p {
  width: 90%;
  margin: 0 5%;
  font-size: 20px;
  padding-bottom: 30px;
  color: white;
  font-family: "Baskervville SC", serif;
}
section.envios button, section.enviosContacto button {
  padding: 15px;
  width: 70%;
  margin: 20px 15%;
  text-transform: uppercase;
  background-color: #5BC548;
  color: white;
  font-family: "Baskervville SC", serif;
  font-size: 16px;
}
section.envios img, section.enviosContacto img {
  padding: 50px 0;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: 370px;
}

h2 {
  font-family: "Bebas Neue", sans-serif;
  text-transform: uppercase;
  font-weight: 600;
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
  margin-top: 30px;
}

section.opinion {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-bottom: 50px;
}
section.opinion section.opiniones {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
section.opinion section.opiniones div.card-opinion {
  width: 80%;
  border: 1px solid rgba(0, 0, 0, 0.7);
  box-shadow: 0 0 4px black;
  margin: 15px 0;
}
section.opinion section.opiniones div.card-opinion svg {
  margin: 7px;
  color: rgba(255, 255, 0, 0.8);
}
section.opinion section.opiniones div.card-opinion p {
  width: 90%;
  margin: 7px;
}
section.opinion section.opiniones div.card-opinion .google {
  color: black;
  margin-left: 90%;
}
section.opinion section.opiniones div.userName {
  width: 70%;
  margin: 5px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.opinion section.opiniones div.userName .nameDate {
  display: flex;
  flex-direction: column;
}

.headerPizzas .titleHeaderPizzas span {
  font-size: 20px;
  padding: 10px 5px;
}
.headerPizzas .titleHeaderPizzas h1 {
  font-size: 28px;
}
.headerPizzas .titleHeaderPizzas button {
  padding: 15px;
  width: 80%;
  margin: 20px 10%;
  text-transform: uppercase;
  background-color: #5bc548;
  color: white;
  font-family: "Baskervville SC", serif;
  font-size: 16px;
}

section.variedadPizzas {
  width: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.variedadPizzas .pizzasRosas, section.variedadPizzas .pizzasBlancas, section.variedadPizzas .panuozzo {
  width: 100%;
}
section.variedadPizzas .pizzasRosas .titlePizzaRosa, section.variedadPizzas .pizzasBlancas .titlePizzaRosa, section.variedadPizzas .panuozzo .titlePizzaRosa, section.variedadPizzas .pizzasBlancas .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePanuozzo {
  text-align: center;
  background-color: rgb(166, 40, 40);
  width: 100%;
  color: black;
}
section.variedadPizzas .pizzasRosas .titlePizzaRosa h2, section.variedadPizzas .pizzasBlancas .titlePizzaRosa h2, section.variedadPizzas .panuozzo .titlePizzaRosa h2, section.variedadPizzas .pizzasBlancas .titlePizzaBlanca h2, section.variedadPizzas .panuozzo .titlePizzaBlanca h2, section.variedadPizzas .panuozzo .titlePanuozzo h2 {
  font-family: "Bebas Neue", sans-serif;
}
section.variedadPizzas .pizzasRosas .titlePizzaRosa p, section.variedadPizzas .pizzasBlancas .titlePizzaRosa p, section.variedadPizzas .panuozzo .titlePizzaRosa p, section.variedadPizzas .pizzasBlancas .titlePizzaBlanca p, section.variedadPizzas .panuozzo .titlePizzaBlanca p, section.variedadPizzas .panuozzo .titlePanuozzo p {
  width: 90%;
  text-align: center;
  font-family: "Bebas Neue", sans-serif;
  font-size: 18px;
  text-transform: uppercase;
  padding: 5px 0;
  margin: 20px 5%;
}
section.variedadPizzas .pizzasRosas .cardPizza, section.variedadPizzas .pizzasBlancas .cardPizza, section.variedadPizzas .panuozzo .cardPizza {
  width: 310px;
  display: flex;
  flex-direction: column;
  margin: 15px 5px;
  box-shadow: 0 0 4px black;
  height: -moz-max-content;
  height: max-content;
}
section.variedadPizzas .pizzasRosas .cardPizza img, section.variedadPizzas .pizzasBlancas .cardPizza img, section.variedadPizzas .panuozzo .cardPizza img {
  width: 100%;
  margin: 5px 0;
  -o-object-fit: cover;
     object-fit: cover;
  height: 210px;
}
section.variedadPizzas .pizzasRosas .cardPizza h3, section.variedadPizzas .pizzasBlancas .cardPizza h3, section.variedadPizzas .panuozzo .cardPizza h3 {
  padding: 7px 5px;
  height: 10%;
}
section.variedadPizzas .pizzasRosas .cardPizza span, section.variedadPizzas .pizzasBlancas .cardPizza span, section.variedadPizzas .panuozzo .cardPizza span {
  padding: 7px 5px;
  height: 10%;
}
section.variedadPizzas .pizzasRosas .cardPizza p, section.variedadPizzas .pizzasBlancas .cardPizza p, section.variedadPizzas .panuozzo .cardPizza p {
  padding: 7px 5px;
  height: 10%;
}
section.variedadPizzas .pizzasBlancas .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePanuozzo {
  background-color: black;
  color: white;
}
.headerMenu, .headerContacto, .headerPizzas {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fondos/fondoMenu.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.seccionMenu {
  width: 320px;
  font-family: "Bebas Neue", sans-serif;
}
.seccionMenu span {
  margin: 20px 0;
  font-size: 25px;
  padding-left: 5px;
}
.seccionMenu h1 {
  text-transform: uppercase;
  font-weight: 800;
  font-size: 30px;
  margin-bottom: 40px;
  padding-left: 5px;
  width: 100%;
}

section.tarjetasMenu {
  display: flex;
  flex-direction: column;
  width: 310px;
  margin: 0 5px;
  font-family: "Lora", serif;
  font-style: normal;
}
section.tarjetasMenu .menu1, section.tarjetasMenu .menuNiño, section.tarjetasMenu .menu4, section.tarjetasMenu .postres, section.tarjetasMenu .menu2, section.tarjetasMenu .menu3 {
  background-color: #E8E8E8;
  padding: 5px;
}
section.tarjetasMenu .menu1 h2, section.tarjetasMenu .menuNiño h2, section.tarjetasMenu .menu4 h2, section.tarjetasMenu .postres h2, section.tarjetasMenu .menu2 h2, section.tarjetasMenu .menu3 h2 {
  padding: 5px;
  margin-bottom: 30px;
}
section.tarjetasMenu .menu1 div h3, section.tarjetasMenu .menuNiño div h3, section.tarjetasMenu .menu4 div h3, section.tarjetasMenu .postres div h3, section.tarjetasMenu .menu2 div h3, section.tarjetasMenu .menu3 div h3 {
  font-size: 20px;
  text-transform: uppercase;
  padding: 7px 5px;
}
section.tarjetasMenu .menu1 div span, section.tarjetasMenu .menuNiño div span, section.tarjetasMenu .menu4 div span, section.tarjetasMenu .postres div span, section.tarjetasMenu .menu2 div span, section.tarjetasMenu .menu3 div span {
  padding: 7px 5px;
  font-size: 18px;
}
section.tarjetasMenu .menu1 div p, section.tarjetasMenu .menuNiño div p, section.tarjetasMenu .menu4 div p, section.tarjetasMenu .postres div p, section.tarjetasMenu .menu2 div p, section.tarjetasMenu .menu3 div p {
  padding: 7px 5px;
  font-size: 18px;
}
section.tarjetasMenu .menu1 div.separador, section.tarjetasMenu .menuNiño div.separador, section.tarjetasMenu .menu4 div.separador, section.tarjetasMenu .postres div.separador, section.tarjetasMenu .menu2 div.separador, section.tarjetasMenu .menu3 div.separador {
  width: 90%;
  margin: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}
section.tarjetasMenu .menu1 div.separador img, section.tarjetasMenu .menuNiño div.separador img, section.tarjetasMenu .menu4 div.separador img, section.tarjetasMenu .postres div.separador img, section.tarjetasMenu .menu2 div.separador img, section.tarjetasMenu .menu3 div.separador img {
  width: 35px;
  background: transparent;
}
section.tarjetasMenu .menu2, section.tarjetasMenu .menu3 {
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fondos/burrata-fondo.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  color: white;
  text-shadow: 1 1 3px white;
  margin-bottom: 20px;
}
section.tarjetasMenu .menu3 {
  margin-top: 15px;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(../assets/img/fondos/tataki.jpeg);
  margin-bottom: 0;
}
section.tarjetasMenu .menu4 div.sinGluten, section.tarjetasMenu .postres div.sinGluten {
  text-align: center;
  padding: 30px 0;
}
section.tarjetasMenu .menuNiño {
  padding-bottom: 20px;
}
section.tarjetasMenu .menuNiño h3 {
  text-transform: uppercase;
  padding-left: 5px;
}
section.tarjetasMenu .postres {
  margin: 25px 0;
}

.headerVinos {
  width: 320px;
  background-image: url(../assets/img/fondos/pexels-pixabay-33265.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

section.seccionVinos {
  width: 320px;
  background-color: black;
  padding: 50px 0;
}
section.seccionVinos .titleVinos span {
  color: white;
  padding: 7px 5px;
  font-size: 22px;
  font-family: "Bebas Neue", sans-serif;
}
section.seccionVinos .titleVinos h1 {
  color: white;
  text-transform: uppercase;
  font-size: 26px;
  padding: 10px 5px;
  font-family: "Bebas Neue", sans-serif;
}
section.seccionVinos .cartaVinoTinto, section.seccionVinos .cartaVinoBlanco, section.seccionVinos .seccionBebidaCaliente, section.seccionVinos .seccionAgua, section.seccionVinos .seccionBebidaFria, section.seccionVinos .cartaVinoRosado, section.seccionVinos .cartaVinoEfervescente {
  width: 90%;
  margin: 0 5%;
  background-color: #E8E8E8;
  border-radius: 5px;
}
section.seccionVinos .cartaVinoTinto h2, section.seccionVinos .cartaVinoBlanco h2, section.seccionVinos .seccionBebidaCaliente h2, section.seccionVinos .seccionAgua h2, section.seccionVinos .seccionBebidaFria h2, section.seccionVinos .cartaVinoRosado h2, section.seccionVinos .cartaVinoEfervescente h2 {
  text-align: start;
  font-size: 30px;
  padding: 15px 5px;
}
section.seccionVinos .cartaVinoTinto .titleCard, section.seccionVinos .cartaVinoBlanco .titleCard, section.seccionVinos .seccionBebidaCaliente .titleCard, section.seccionVinos .seccionAgua .titleCard, section.seccionVinos .seccionBebidaFria .titleCard, section.seccionVinos .cartaVinoRosado .titleCard, section.seccionVinos .cartaVinoEfervescente .titleCard {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 10px 5%;
}
section.seccionVinos .cartaVinoTinto .titleCard span, section.seccionVinos .cartaVinoBlanco .titleCard span, section.seccionVinos .seccionBebidaCaliente .titleCard span, section.seccionVinos .seccionAgua .titleCard span, section.seccionVinos .seccionBebidaFria .titleCard span, section.seccionVinos .cartaVinoRosado .titleCard span, section.seccionVinos .cartaVinoEfervescente .titleCard span {
  font-size: 18px;
  text-align: start;
}
section.seccionVinos .cartaVinoTinto .titleCard div img, section.seccionVinos .cartaVinoBlanco .titleCard div img, section.seccionVinos .seccionBebidaCaliente .titleCard div img, section.seccionVinos .seccionAgua .titleCard div img, section.seccionVinos .seccionBebidaFria .titleCard div img, section.seccionVinos .cartaVinoRosado .titleCard div img, section.seccionVinos .cartaVinoEfervescente .titleCard div img {
  width: 40px;
  transform: scale(1.2);
  -o-object-fit: cover;
     object-fit: cover;
  padding: 0 10px;
}
section.seccionVinos .cartaVinoTinto .card, section.seccionVinos .cartaVinoBlanco .card, section.seccionVinos .seccionBebidaCaliente .card, section.seccionVinos .seccionAgua .card, section.seccionVinos .seccionBebidaFria .card, section.seccionVinos .cartaVinoRosado .card, section.seccionVinos .cartaVinoEfervescente .card {
  display: flex;
  flex-direction: column;
  padding: 15px 0;
}
section.seccionVinos .cartaVinoTinto .card h3, section.seccionVinos .cartaVinoBlanco .card h3, section.seccionVinos .seccionBebidaCaliente .card h3, section.seccionVinos .seccionAgua .card h3, section.seccionVinos .seccionBebidaFria .card h3, section.seccionVinos .cartaVinoRosado .card h3, section.seccionVinos .cartaVinoEfervescente .card h3 {
  font-size: 22px;
  padding: 20px 5px;
}
section.seccionVinos .cartaVinoTinto .card h4, section.seccionVinos .cartaVinoBlanco .card h4, section.seccionVinos .seccionBebidaCaliente .card h4, section.seccionVinos .seccionAgua .card h4, section.seccionVinos .seccionBebidaFria .card h4, section.seccionVinos .cartaVinoRosado .card h4, section.seccionVinos .cartaVinoEfervescente .card h4 {
  font-size: 20px;
  padding-left: 5px;
  padding-bottom: 5px;
}
section.seccionVinos .cartaVinoTinto .card .flexCard, section.seccionVinos .cartaVinoBlanco .card .flexCard, section.seccionVinos .seccionBebidaCaliente .card .flexCard, section.seccionVinos .seccionAgua .card .flexCard, section.seccionVinos .seccionBebidaFria .card .flexCard, section.seccionVinos .cartaVinoRosado .card .flexCard, section.seccionVinos .cartaVinoEfervescente .card .flexCard {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 5%;
}
section.seccionVinos .cartaVinoTinto .card .flexCard img, section.seccionVinos .cartaVinoBlanco .card .flexCard img, section.seccionVinos .seccionBebidaCaliente .card .flexCard img, section.seccionVinos .seccionAgua .card .flexCard img, section.seccionVinos .seccionBebidaFria .card .flexCard img, section.seccionVinos .cartaVinoRosado .card .flexCard img, section.seccionVinos .cartaVinoEfervescente .card .flexCard img {
  width: 40px;
  height: 27px;
}
section.seccionVinos .cartaVinoTinto .card .flexCard div span, section.seccionVinos .cartaVinoBlanco .card .flexCard div span, section.seccionVinos .seccionBebidaCaliente .card .flexCard div span, section.seccionVinos .seccionAgua .card .flexCard div span, section.seccionVinos .seccionBebidaFria .card .flexCard div span, section.seccionVinos .cartaVinoRosado .card .flexCard div span, section.seccionVinos .cartaVinoEfervescente .card .flexCard div span {
  padding: 0 10px;
  font-size: 18px;
  width: 20px;
}
section.seccionVinos .cartaVinoBlanco, section.seccionVinos .seccionBebidaCaliente, section.seccionVinos .seccionAgua, section.seccionVinos .seccionBebidaFria, section.seccionVinos .cartaVinoRosado, section.seccionVinos .cartaVinoEfervescente {
  width: 90%;
  margin: 20px 5%;
  padding-bottom: 20px;
}
section.seccionVinos .seccionBebidaCaliente div.titleCard, section.seccionVinos .seccionAgua div.titleCard, section.seccionVinos .seccionBebidaFria div.titleCard {
  width: 90%;
}
section.seccionVinos .seccionBebidaCaliente div.titleCard img, section.seccionVinos .seccionAgua div.titleCard img, section.seccionVinos .seccionBebidaFria div.titleCard img {
  width: 40px;
}
section.seccionVinos .seccionBebidaCaliente div.flexCard, section.seccionVinos .seccionAgua div.flexCard, section.seccionVinos .seccionBebidaFria div.flexCard {
  font-size: 18px;
  width: 85%;
  margin: 7px 5%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
section.seccionVinos .seccionBebidaFria div.titleCard img {
  width: 15px;
  margin-right: 17px;
}
section.seccionVinos .seccionAgua div.titleCard img {
  width: 15px;
  margin-right: 17px;
}

.headerContacto section.titleHeader, .headerPizzas section.titleHeader, .headerPizzas section.titleHeaderPizzas {
  color: white;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  gap: 25px;
}
.headerContacto section.titleHeader span.reservarPedir, .headerPizzas section.titleHeader span.reservarPedir, .headerPizzas section.titleHeaderPizzas span.reservarPedir {
  font-size: 20px;
  padding-left: 5px;
  font-family: "Lora", serif;
}
.headerContacto section.titleHeader h1, .headerPizzas section.titleHeader h1, .headerPizzas section.titleHeaderPizzas h1 {
  font-size: 30px;
  padding-left: 5px;
  font-family: "Lora", serif;
}

section.horariosyForm {
  width: 320px;
}
section.horariosyForm article.horarios {
  width: 90%;
  margin: 10px 5%;
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.horariosyForm article.horarios img {
  width: 90%;
  padding: 20px 0;
  -o-object-fit: cover;
     object-fit: cover;
}
section.horariosyForm article.horarios h2 {
  color: white;
}
section.horariosyForm article.horarios div.separador {
  width: 100%;
  margin: 20px 5%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}
section.horariosyForm article.horarios div.separador span {
  color: white;
}
section.horariosyForm article.horarios div.separador img {
  width: 35px;
  background: transparent;
}
section.horariosyForm article.horarios section.horarioServicio {
  width: 90%;
  margin: 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
section.horariosyForm article.horarios section.horarioServicio .servicioMediodia, section.horariosyForm article.horarios section.horarioServicio .servicioTarde, section.horariosyForm article.horarios section.horarioServicio .servicioPizza {
  width: 100%;
  margin: 15px 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: white;
}
section.horariosyForm article.horarios section.horarioServicio .servicioMediodia h3, section.horariosyForm article.horarios section.horarioServicio .servicioTarde h3, section.horariosyForm article.horarios section.horarioServicio .servicioPizza h3 {
  text-transform: uppercase;
  color: white;
}
section.horariosyForm article.horarios section.horarioServicio .servicioMediodia p, section.horariosyForm article.horarios section.horarioServicio .servicioTarde p, section.horariosyForm article.horarios section.horarioServicio .servicioPizza p {
  width: 80%;
  font-size: 18px;
  text-align: center;
  padding: 10px 0;
}
section.horariosyForm article.horarios section.horarioServicio h3 {
  padding: 20px 0;
  width: 90%;
  color: white;
  text-align: center;
}
section.horariosyForm article.horarios section.horarioServicio .iconsServicio {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
section.horariosyForm article.horarios section.horarioServicio .iconsServicio .iconFace {
  width: 20%;
}
section.horariosyForm article.horarios section.horarioServicio .iconsServicio button {
  padding: 15px;
  width: 80%;
  margin: 20px 15%;
  text-transform: uppercase;
  background-color: #5bc548;
  color: white;
  font-family: "Baskervville SC", serif;
  font-size: 16px;
}

.contacto {
  width: 310px;
  margin: 5px;
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
  font-weight: 500;
}
.contacto .bg-input {
  background-color: #E8E8E8;
}
.contacto .area {
  resize: none;
  width: 100%;
  background-color: #E8E8E8;
}
.contacto button {
  width: 30%;
  padding: 7px;
  color: black;
  background-color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 3px black;
  transition: ease-in-out 1s;
}
.contacto button:hover {
  background-color: black;
  color: white;
  transform: scale(1.1);
}

section.enviosContacto h3 {
  padding: 10px 0;
}

@media (min-width: 321px) and (max-width: 768px) {
  /* --------------------------- SECCION INDEX -------------------*/
  header {
    width: 100%;
    padding-top: 15px;
  }
  header nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 5%;
  }
  header img.logo-nav {
    width: 150px;
    padding-bottom: 10px;
  }
  header div.link-contenedor {
    display: flex;
    flex-direction: row;
    width: -moz-max-content;
    width: max-content;
    align-items: center;
    justify-content: center;
    padding: 5px 0;
    flex-wrap: wrap;
    width: 100%;
    gap: 10px;
  }
  header a {
    text-align: center;
    padding: 15px;
  }
  article.home {
    width: 100%;
  }
  article.home .img-home {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  article.home .home-parrafo {
    font-size: 22px;
    width: 80%;
    margin: 0 10%;
  }
  section.seccionVideo {
    width: 100%;
  }
  section.seccionVideo h1 {
    text-align: center;
  }
  section.seccionVideo video {
    width: 90%;
    margin: 20px 5%;
  }
  section.nuestrosProductos {
    width: 100%;
  }
  section.nuestrosProductos img {
    height: auto;
  }
  section.nuestrosProductos button.btn-home {
    width: 60%;
    margin: 10px 20%;
  }
  section.restaurante {
    width: 100%;
  }
  section.restaurante div.p-restaurante {
    width: 80%;
  }
  section.restaurante div.p-restaurante p {
    font-size: 25px;
  }
  section.restaurante div.p-restaurante img {
    width: 5%;
  }
  section.restaurante div.img-restaurante {
    width: 100%;
  }
  section.envios, section.enviosContacto {
    width: 100%;
  }
  section.envios p, section.enviosContacto p {
    width: 80%;
    margin: 0 10%;
    font-size: 25px;
  }
  section.envios button, section.enviosContacto button {
    padding: 15px;
    width: 50%;
    margin: 20px 25%;
  }
  section.envios img, section.enviosContacto img {
    width: 100%;
    -o-object-fit: cover;
       object-fit: cover;
    height: auto;
  }
  section.opinion {
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
  }
  section.opinion section.opiniones {
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }
  section.opinion section.opiniones div.card-opinion {
    width: 60%;
  }
  section.opinion section.opiniones div.userName {
    width: 30%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }
  section.opinion section.opiniones div.userName .nameDate {
    gap: 20%;
  }
  div.footer {
    width: 100%;
  }
  div.footer span.copy {
    width: 80%;
    margin: 0px 10%;
    font-size: 18px;
  }
  div.footer span.derechos {
    width: 80%;
    margin: 0 10%;
    font-size: 18px;
  }
  /*-------------------- SECCION PIZZAS -----------------*/
  .headerPizzas .titleHeaderPizzas button {
    width: 50%;
    margin: 20px 25%;
  }
  section.variedadPizzas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  section.variedadPizzas .pizzasRosas, section.variedadPizzas .pizzasBlancas, section.variedadPizzas .panuozzo {
    width: 100%;
  }
  section.variedadPizzas .pizzasRosas .titlePizzaRosa, section.variedadPizzas .pizzasBlancas .titlePizzaRosa, section.variedadPizzas .panuozzo .titlePizzaRosa, section.variedadPizzas .pizzasBlancas .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePizzaBlanca, section.variedadPizzas .panuozzo .titlePanuozzo {
    width: 100%;
  }
  section.variedadPizzas .pizzasRosas .cardPizza, section.variedadPizzas .pizzasBlancas .cardPizza, section.variedadPizzas .panuozzo .cardPizza {
    width: 80%;
    display: flex;
    flex-direction: column;
    margin: 15px 10%;
    height: 100%;
  }
  section.variedadPizzas .pizzasRosas .cardPizza img, section.variedadPizzas .pizzasBlancas .cardPizza img, section.variedadPizzas .panuozzo .cardPizza img {
    width: 100%;
    margin: 5px 0;
    -o-object-fit: cover;
       object-fit: cover;
    height: 10%;
  }
  section.variedadPizzas .pizzasRosas .cardPizza h3, section.variedadPizzas .pizzasBlancas .cardPizza h3, section.variedadPizzas .panuozzo .cardPizza h3 {
    padding: 7px;
    font-size: 22px;
  }
  section.variedadPizzas .pizzasRosas .cardPizza span, section.variedadPizzas .pizzasBlancas .cardPizza span, section.variedadPizzas .panuozzo .cardPizza span {
    padding: 7px;
    font-size: 20px;
  }
  section.variedadPizzas .pizzasRosas .cardPizza p, section.variedadPizzas .pizzasBlancas .cardPizza p, section.variedadPizzas .panuozzo .cardPizza p {
    padding: 7px;
    font-size: 18px;
  }
  /*---------------------------SECCION MENU TABLET -------------*/
  section.seccionMenu {
    width: 90%;
    text-align: center;
    margin: 20px 5%;
  }
  section.tarjetasMenu {
    width: 90%;
    margin: 0 5%;
  }
  section.tarjetasMenu .menu1, section.tarjetasMenu .menu2, section.tarjetasMenu .menu3, section.tarjetasMenu .menu4, section.tarjetasMenu .menuNiño, section.tarjetasMenu .postres {
    background-color: #e8e8e8;
    padding: 5px;
    width: 100%;
  }
  section.tarjetasMenu .menu1 h2, section.tarjetasMenu .menu2 h2, section.tarjetasMenu .menu3 h2, section.tarjetasMenu .menu4 h2, section.tarjetasMenu .menuNiño h2, section.tarjetasMenu .postres h2 {
    padding: 5px;
    margin-bottom: 30px;
  }
  section.tarjetasMenu .menu1 div h3, section.tarjetasMenu .menu2 div h3, section.tarjetasMenu .menu3 div h3, section.tarjetasMenu .menu4 div h3, section.tarjetasMenu .menuNiño div h3, section.tarjetasMenu .postres div h3 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 7px 5px;
  }
  section.tarjetasMenu .menu1 div span, section.tarjetasMenu .menu2 div span, section.tarjetasMenu .menu3 div span, section.tarjetasMenu .menu4 div span, section.tarjetasMenu .menuNiño div span, section.tarjetasMenu .postres div span {
    padding: 7px 5px;
    font-size: 18px;
  }
  section.tarjetasMenu .menu1 div p, section.tarjetasMenu .menu2 div p, section.tarjetasMenu .menu3 div p, section.tarjetasMenu .menu4 div p, section.tarjetasMenu .menuNiño div p, section.tarjetasMenu .postres div p {
    padding: 7px 5px;
    font-size: 18px;
  }
  section.tarjetasMenu .menu1 div.separador, section.tarjetasMenu .menu2 div.separador, section.tarjetasMenu .menu3 div.separador, section.tarjetasMenu .menu4 div.separador, section.tarjetasMenu .menuNiño div.separador, section.tarjetasMenu .postres div.separador {
    width: 90%;
    margin: 20px 5%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  section.tarjetasMenu .menu1 div.separador img, section.tarjetasMenu .menu2 div.separador img, section.tarjetasMenu .menu3 div.separador img, section.tarjetasMenu .menu4 div.separador img, section.tarjetasMenu .menuNiño div.separador img, section.tarjetasMenu .postres div.separador img {
    width: 35px;
    background: transparent;
  }
  /*----------------------------------- SECCION VINOS -------------------------*/
  .headerVinos {
    width: 100%;
    background-size: cover;
  }
  section.seccionVinos {
    width: 100%;
  }
  section.seccionVinos .titleVinos span {
    width: 50%;
  }
  section.seccionVinos .seccionBebidaCaliente div.titleCard, section.seccionVinos .seccionBebidaFria div.titleCard, section.seccionVinos .seccionAgua div.titleCard {
    width: 87%;
  }
  /*------------------------------SECCION CONTACTOS --------------------*/
  section.horariosyForm {
    width: 100%;
  }
  section.horariosyForm .horarios {
    width: 90%;
    margin: 20px 5%;
  }
  section.horariosyForm .horarios .copaHorarios {
    height: auto;
    transform: scale(0.8);
  }
  .contacto {
    width: 90%;
    margin: 20px 5%;
  }
}
.seccionVideo {
  width: 320px;
}
.seccionVideo h1 {
  font-family: "Baskervville SC", serif;
  padding: 25px 5px;
  text-align: center;
  font-size: 40px;
  font-weight: 700;
  font-style: normal;
}
.seccionVideo p {
  font-family: "Baskervville SC", serif;
  width: 92%;
  margin: 15px 0;
  margin-left: 5%;
  margin-right: 3%;
  font-size: 22px;
}
.seccionVideo video {
  width: 310px;
  margin: 20px 5px;
}

.nuestrosProductos {
  width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  padding-bottom: 50px;
}
.nuestrosProductos img {
  padding-bottom: 20px;
  width: 100%;
  height: 100vh;
  -o-object-fit: cover;
     object-fit: cover;
}
.nuestrosProductos h2 {
  text-transform: uppercase;
  font-size: 25px;
  padding: 25px 0;
  font-family: "Baskervville SC", serif;
  font-weight: 600;
  color: white;
}
.nuestrosProductos p {
  width: 90%;
  font-size: 18px;
  padding: 25px 0;
  font-family: "Baskervville SC", serif;
  color: white;
}
.nuestrosProductos button.btn-home {
  font-family: "Baskervville SC", serif;
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80%;
  margin: 10px 10%;
  transition: all 1s;
}
.nuestrosProductos button.btn-home:hover {
  background-color: white;
  color: black;
}/*# sourceMappingURL=style.css.map */