@media (min-width: 321px) and (max-width: 768px) {
  /* --------------------------- SECCION INDEX -------------------*/
  header {
    width: 100%;
    padding-top: 15px;
    nav {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 0 5%;
    }
    img.logo-nav {
      width: 150px;
      padding-bottom: 10px;
    }
    ul.link-contenedor {
      display: flex;
      flex-direction: row;
      width: max-content;
      align-items: center;
      justify-content: center;
      padding: 5px 0;
      flex-wrap: wrap;
      width: 100%;
      gap: 10px;
      
    }
    a {
      text-align: center;
      padding: 15px 0;
      transition: all 1s ease-in-out;
      &:hover {
        background-color: white;
        color: black;
        padding: 5px;
        border-radius: 5px;
        
      }
    }
  }
  /*-----------------------seccion home---------------------*/

  article.home {
    width: 100%;
    .img-home {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
    .home-parrafo {
      font-size: 22px;
      width: 80%;
      margin: 0 10%;
      h2 {
        animation: cambiarColor 5s infinite;
        animation-timing-function: ease;
        transform: scale(0);
        padding: 10px;
      }
      @keyframes cambiarColor {
        0% {
          transform: scale(0);
        }
        50% {
          transform: scale(1.4);
          color: white;
          animation-delay: 3s;
        }
        100% {
          transform: scale(0.5);
          color: black;
        }
      }
    }
  }
  /*-----------------------seccion video---------------------*/

  section.seccionVideo {
    width: 100%;
    h1 {
      text-align: center;
    }
    video {
      width: 90%;
      margin: 20px 5%;
    }
  }
  /*-----------------------seccion productos---------------------*/

  section.nuestrosProductos {
    width: 100%;
    img {
      height: auto;
    }
    button.btn-home {
      width: 60%;
      margin: 10px 20%;
    }
  }
  /*-----------------------seccion restaurante---------------------*/

  section.restaurante {
    width: 100%;
    div.p-restaurante {
      width: 80%;
      p {
        font-size: 25px;
      }
      img {
        width: 5%;
      }
    }
    div.img-restaurante {
      width: 100%;
    }
  }
  /*-----------------------seccion envios---------------------*/

  section.envios {
    width: 100%;
    p {
      width: 80%;
      margin: 0 10%;
      font-size: 25px;
    }
    button {
      padding: 15px;
      width: 50%;
      margin: 20px 25%;
    }
    img {
      width: 100%;
      object-fit: cover;
      height: auto;
    }
  }
  /*-----------------------seccion opiniones---------------------*/

  section.opinion {
    width: 100%;
    gap: 50px;
    margin-bottom: 50px;
    section.opiniones {
      width: 90%;
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      div.card-opinion {
        width: 60%;
      }
      div.userName {
        width: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
        .nameDate {
          gap: 20%;
        }
      }
    }
  }
  /*-----------------------seccion footer---------------------*/

  div.footer {
    width: 100%;
    span.copy {
      width: 80%;
      margin: 0px 10%;
      font-size: 18px;
    }
    span.derechos {
      width: 80%;
      margin: 0 10%;
      font-size: 18px;
    }
  }

  /*-------------------- SECCION PIZZAS -----------------*/
  .headerPizzas {
    .titleHeaderPizzas {
      button {
        width: 50%;
        margin: 20px 25%;
      }
    }
  }
  section.variedadPizzas {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .pizzasRosas {
      width: 100%;
      .titlePizzaRosa {
        width: 100%;
      }
      .cardPizza {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin: 15px 10%;
        height: 100%;
        img {
          width: 100%;
          margin: 5px 0;
          object-fit: cover;
          height: 10%;
        }
        h3 {
          padding: 7px;
          font-size: 22px;
        }
        span {
          padding: 7px;
          font-size: 20px;
        }
        p {
          padding: 7px;
          font-size: 18px;
        }
      }
    }
  }
  /*---------------------------SECCION MENU TABLET -------------*/
  section.seccionMenu {
    width: 90%;
    text-align: center;
    margin: 20px 5%;
  }
  section.tarjetasMenu {
    width: 90%;
    margin: 0 5%;
    .menu1 {
      background-color: $bgPrincipal;
      padding: 5px;
      width: 100%;

      h2 {
        padding: 5px;
        margin-bottom: 30px;
      }
      div h3 {
        font-size: 20px;
        text-transform: uppercase;
        padding: 7px 5px;
      }
      div span {
        padding: 7px 5px;
        font-size: 18px;
      }
      div p {
        padding: 7px 5px;
        font-size: 18px;
      }
      div.separador {
        width: 90%;
        margin: 20px 5%;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          width: 35px;
          background: transparent;
        }
      }
    }
  }
  /*----------------------------------- SECCION VINOS -------------------------*/
  .headerVinos {
    width: 100%;
    background-size: cover;
  }
  
  section.seccionVinos {
    width: 100%;
    height: max-content;
    align-items: start;
    justify-items: center;
    background-color: $bgPrincipal;
    .titleVinos {
      margin: 25px 0;
      grid-area: title;
      span {
        width: 50%;
        color:black;
        padding-left: 5px;
      }
      h1 {
        color: black;
        padding-left: 5px;
      }
    }
    section.cartaVinoTinto {
      height: max-content;
      color: white;
      text-shadow: 5px 5px 3px black;
      grid-area: vinoT;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../assets/img/fondos/fondo4.webp);
      background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
    }
    section.cartaVinoBlanco {
      grid-area: vinoB;
      height: max-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../assets/img/fondos/vinoBlanco.webp);
      object-fit: cover;
    }
    section.cartaVinoEfervescente {
      grid-area: vinoE;
      height: max-content;
    }
    section.cartaVinoRosado {
      grid-area: vinoR;
      height: max-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(../assets/img/fondos/vinoRosado.webp);
      object-fit: cover;
    }
    section.cartaVinoEfervescente {
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
       url(../assets/img/fondos/vinoEfervescente.webp);
      object-fit: cover;
    }
    section.seccionBebidaCaliente {
      grid-area: bCal;
      height: max-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
       url(../assets/img/fondos/cafeFondo.webp);
      object-fit: cover;
      div.titleCard {
        width: 87%;
      }
    }
    section.seccionBebidaFria {
      grid-area: bFria;
      height: max-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
       url(../assets/img/fondos/jugoFrutas.jpeg);
      object-fit: cover;
    }
    section.seccionAgua {
      grid-area: agua;
      height: max-content;
      background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/fondoAgua.webp);
     object-fit: cover;
    }
  }
  /*------------------------------SECCION CONTACTOS --------------------*/
  section.horariosyForm {
    width: 100%;
    .horarios {
      width: 90%;
      margin: 20px 5%;
      .copaHorarios {
        height: auto;
        transform: scale(0.8);
      }
    }
  }
  .contacto {
    width: 90%;
    margin: 20px 5%;
  }
}
