@mixin buttonUber {
  padding: 15px;
  width: 70%;
  margin: 20px 15%;
  text-transform: uppercase;
  background-color: $botonUber;
  color: white;
  font-family: $fontPrincipal;
  font-size: 16px;
}
@mixin buttonTrasparent {
  font-family: $fontPrincipal;
  padding: 7px;
  background-color: transparent;
  color: white;
  border: 1px solid white;
  width: 80%;
  margin: 10px 10%;
  }

@mixin buttonHeader {
  padding: 5px;
  background-color: transparent;
  border: 1px solid white;
  transition: 0.5s;
  }
  
