.headerVinos {
  width: 320px;
  background-image: url(../assets/img/fondos/pexels-pixabay-33265.webp);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
section.seccionVinos {
  width: 320px;
  background-color: $bgPrincipal;
  padding: 50px 0;
  .titleVinos {
    width: 90%;
    margin: 0 5%;
    span {
      color: black;
      width: 100%;
      padding: 7px 0;
      font-size: 22px;
      font-family: $fontSecundaria;
    }
    h1 {
      color: black;
      text-transform: uppercase;
      font-size: 26px;
      padding: 10px 5px;
      font-family: $fontSecundaria;
    }
  }
  /*-----------------------seccion vino tinto---------------------*/

  .cartaVinoTinto {
    width: 90%;
    margin: 0 5%;
    color: white;
    text-shadow: 5px 5px 3px black;
    border-radius: 5px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/fondo4.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

    h2 {
      text-align: start;
      font-size: 30px;
      padding: 15px 5px;
    }
    .titleCard {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 90%;
      margin: 10px 5%;
      span {
        font-size: 18px;
        text-align: start;
      }
      div img {
        width: 40px;
        transform: scale(1.5);
        object-fit: cover;
        padding: 0 10px;
      }
    }
    .card {
      display: flex;
      flex-direction: column;
      padding: 15px 0;
      h3 {
        font-size: 22px;
        padding: 20px 5px;
      }
      h4 {
        font-size: 20px;
        padding-left: 5px;
        padding-bottom: 5px;
      }
      .flexCard {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        width: 90%;
        margin: 0 5%;
        img {
          width: 40px;
          height: 27px;
        }
        div span {
          padding: 0 10px;
          font-size: 18px;
          width: 20px;
        }
      }
    }
  }
  /*-----------------------seccion vino blanco y bebidas---------------------*/

  .cartaVinoBlanco {
    @extend .cartaVinoTinto;
    width: 90%;
    margin: 20px 5%;
    padding-bottom: 20px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/vinoBlanco.webp);
    object-fit: cover;
  }
  .cartaVinoEfervescente {
    @extend .cartaVinoBlanco;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/vinoEfervescente.webp);
    object-fit: cover;
  }
  .cartaVinoRosado {
    @extend .cartaVinoBlanco;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/vinoRosado.webp);
    object-fit: cover;
  }
  .seccionBebidaCaliente {
    @extend .cartaVinoBlanco;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/cafeFondo.webp);
    object-fit: cover;
    div.titleCard {
      width: 90%;
      img {
        width: 40px;
      }
    }
    div.flexCard {
      font-size: 18px;
      width: 85%;
      margin: 7px 5%;
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
  .seccionBebidaFria {
    @extend .seccionBebidaCaliente;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/jugoFrutas.jpeg);
    object-fit: cover;
    div.titleCard {
      img {
        width: 40px;
      }
    }
  }
  .seccionAgua {
    @extend .seccionBebidaCaliente;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
      url(../assets/img/fondos/fondoAgua.webp);
    object-fit: cover;
    div.titleCard {
      img {
        width: 15px;
        margin-right: 17px;
      }
    }
  }
}
